.CodeMirror-lines {
  /* 編集画面 */
  .CodeMirror-code * {
    font-size: 14px !important;
    font-weight: normal !important;
    color: #2d2d2d !important;
    text-decoration: none !important;
    font-style: normal !important;
    background-color: unset !important;
  }
}